@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-info: #2196F3;
    --color-sucess: #4CAF50;
    --color-warning: #ffeb3b;
    --color-danger: #f44336;

    --background: #f3fcf9;
    --foreground: #051610;
    --foreground-secondary: #eafaf5;
    /* ##96c1e9; #d2e7fa*/
    --card: #516beb; 
    --card-foreground: #eafaf5;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #36d3b1;
    --primary-foreground: #051610;
    --secondary: #d2e7fa;
    --secondary-foreground: #051610;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: #6075dc;
    --accent-foreground: #051610;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --color-info: #2196F3;
    --color-sucess: #4CAF50;
    --color-warning: #ffeb3b;
    --color-danger: #f44336;

    --background: #030c09;
    --foreground: #eafaf5;
    --foreground-secondary: #051610;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #2cc9a7;
    --primary-foreground: 0 0% 9%;
    --secondary: #164169;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: #23389f;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.boldheader1{
  @apply text-7xl font-bold font-poppins;
}
.boldheader2{
  @apply text-6xl font-bold font-poppins;
}
.boldheader3{
  @apply text-5xl font-bold font-poppins;
}
.boldheader4{
  @apply text-4xl font-bold font-poppins;
}

.semiboldheader1{
  @apply text-5xl font-semibold font-inter;
}
.semiboldheader2{
  @apply text-3xl font-semibold font-inter;
}
.semiboldheader3{
  @apply text-2xl font-semibold font-inter;
}
.semiboldheader4{
  @apply text-lg font-semibold font-inter;
}

.basetext{
  @apply text-base font-inter;
}
.boldbasetext{
  @apply text-base font-bold font-inter;
}
.navbarlinks{
  @apply text-lg font-inter;
}
.footertext{
  @apply text-xs font-inter;
}

.slider-nav .slick-slide {
  @apply px-2;
}

.starter-desc h1 {
  @apply text-2xl font-bold font-poppins text-gray-800 leading-tight tracking-wide;
}

.starter-desc h2 {
  @apply text-lg font-semibold font-inter text-gray-700 leading-snug mt-4 tracking-wider;
}

.starter-desc h3,
.starter-desc h4,
.starter-desc h5,
.starter-desc h6 {
  @apply text-base font-inter text-gray-600 mt-2 leading-relaxed tracking-normal;
}

.starter-desc ul {
  @apply list-disc list-inside pl-5 space-y-2 text-gray-600;
}

.starter-desc ol {
  @apply list-decimal list-inside pl-5 space-y-2 text-gray-600;
}
